html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.App {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  text-align: center;
  justify-content: center;
  padding: 2em;
}

form {
  margin-bottom: 1em;
}

table {
  margin: 0;
  padding: 2em;
  border: 1px solid #ccc;
}
